{% extends "template/backend.twig" %}

{% block title %} Welcome {% endblock %}

{% block styles %}
{# Block untuk CSS #}
{% endblock %}

{% block body %}
<div class="content wrap-breadcrumb">
	<div class="col-sm-12 text-right hidden-xs">
		<ol class="breadcrumb">
			<li>Welcome</li>
		</ol>
	</div>
</div>
<!-- Page Content -->

<div class="content">
	<!-- Dynamic Table Full -->
	<div class="block row">
		<div class="block-header text-center bg-gray-lighter">
			<h4> <small>Welcome</small></h4>
		</div>
		<div class="block-content table-requonsive">
			<div class="row">
				<div class="col-md-12">
					<h1 class="h4">Welcome...</h1>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{# Block untuk Javascript #}
<!-- Page JS Plugins -->
{% endblock %}
