{% extends "template/backend.twig" %}

{% block title %} workUnit {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ base_url() }}assets/oneui/js/plugins/datatables/jquery.dataTables.min.css">
<link  href="{{ base_url() }}bower_components/sweetalert2/dist/sweetalert2.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="content wrap-breadcrumb">
	<div class="col-sm-12 text-right hidden-xs">
		<ol class="breadcrumb">
			<li>workUnit</li>
		</ol>
	</div>
</div>
<!-- Page Content -->

<div class="content">
	<!-- Dynamic Table Full -->
	<div class="block row">
		<div class="block-header text-center bg-gray-lighter">
			<button class="btn btn-default btn-delete-workUnit pull-left"  data-toggle="tooltip" title="Pilih Hapus" disabled><i class="si si-trash"></i></button>
			<button class="btn btn-success btn-add-workUnit pull-right" onClick="openModal('#modal-add-workUnit', 'add')" data-toggle="tooltip" title="Tambah workUnit"><i class="si si-note"></i> Tambah </button>
			
			<h4> <small>workUnit</small></h4>
		</div>
		<div class="block-content table-responsive">
			<!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/berita.js -->
			<table class="table table-striped data-workUnit">
				<thead>
					<tr>
						<th width="1">
							<div class="checkbox-workUnit-all">
							<input type="checkbox" data-toggle="tooltip" title="Select all">
							</div>
						</th>
						<th>THEAD 1</th>
						<th>THEAD 2</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>


<!-- modals -->
<div class="modal fade" id="modal-add-workUnit" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-top">
		<div class="modal-content">
			<form action="#" class="form-add-workUnit form-horizontal" method="post" enctype="multipart/form-data">
			<div class="block block-themed block-transparent remove-margin-b">
				<div class="block-header bg-primary-dark">
					<ul class="block-options">
						<li>
							<button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
						</li>
					</ul>
					<h3 class="block-title">Tambah workUnit</h3>
				</div>
				<div class="block-content">
					<div class="form-group">
						<div class="col-xs-12">
							<label for="code-add-workUnit">Kode workUnit</label>
							<input class="form-control" id="code-add-workUnit" name="" type="text" required>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div><br>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Batalkan</button>
				<button type="submit" class="btn btn-success submit-add-workUnit">Simpan</button>
			</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal add-->

<div class="modal fade" id="modal-update-workUnit" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-top">
		<div class="modal-content">
			<form action="#" class="form-update-workUnit form-horizontal" method="post" enctype="multipart/form-data">
			<div class="block block-themed block-transparent remove-margin-b">
				<div class="block-header bg-primary-dark">
					<ul class="block-options">
						<li>
							<button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
						</li>
					</ul>
					<h3 class="block-title">Ubah workUnit</h3>
				</div>
				<div class="block-content">
					<div class="form-group">
						<div class="col-xs-12">
							<label for="code-update-workUnit">Kode workUnit</label>
							<input class="form-control" id="code-update-workUnit" name="" type="text" required>
						</div>
					</div>
			</div>
			<div class="clearfix"></div><br>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Batalkan</button>
				<button type="submit" class="btn btn-success submit-update-workUnit">Simpan</button>
			</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal update-->
{% endblock %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="{{ base_url() }}assets/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ base_url() }}bower_components/sweetalert2/dist/sweetalert2.js"></script>
<script src="{{ base_url() }}assets/oneui/js/plugins/shiftcheckbox/jquery.shiftcheckbox.js"></script>
<script src="{{ base_url() }}bower_components/moment/moment.js"></script>
<script src="{{ base_url() }}assets/oneui/js/plugins/jquery-validation/jquery.validate.min.js"></script>

<!-- Page JS Code -->
<script src="{{ base_url() }}assets/oneui/js/pages/workUnit.js"></script>
{% endblock %}
