
<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>Portal Masuk</title>

  <meta name="description" content="Generic-x">
  <meta name="author" content="arsycode">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

  <!-- Icons -->
  <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
  {# <link rel="apple-touch-icon" sizes="57x57" href="/frontend/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/frontend/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/frontend/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/frontend/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/frontend/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/frontend/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/frontend/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/frontend/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/frontend/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/frontend/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/frontend/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/frontend/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/frontend/images/favicon-16x16.png">
  <link rel="manifest" href="/frontend/images/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/frontend/images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff"> #}
  <!-- END Icons -->

  <!-- Stylesheets -->
  <!-- Web fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

  <!-- Bootstrap and OneUI CSS framework -->
  <link rel="stylesheet" href="{{ base_url() }}/assets/oneui/css/bootstrap.min.css">
  <link rel="stylesheet" id="css-main" href="{{ base_url() }}/assets/oneui/css/oneui.css">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/bower_components/sweetalert2/dist/sweetalert2.css">
  <style >
    body{
      /*background-image: url('http://lab.komunikasi.unpas.ac.id/home/images/fisip.png');*/
      /*position: absolute;*/
      background-color: #6b9797;
    }
  </style>
  <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
  <!-- <link rel="stylesheet" id="css-theme" href="{{ base_url() }}/assets/oneui/css/themes/flat.min.css"> -->
  <!-- END Stylesheets -->
</head>
<body>
  <!-- Login Content -->
  <div class="content overflow-hidden">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                  <center></center>
              </div>
              <div class="col-md-4">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
              <!-- Login Block -->
              <div class="block block-themed animated fadeIn" style="margin-top: 70px;">
                  <div class="block-content block-content-full block-content-narrow">
                      <!-- Login Title -->
                      {# <img style="width: 15%; float: left; margin-right: 10px; margin-top: 10px;"  alt="Bootstrap Image Preview" src="/frontend/assets/img/logo.png" class="img-circle" />
                      <center>
                      <img style=" margin-top: 20px; margin-bottom: 20px; width: 70%;"  alt="Bootstrap Image Preview" src="/frontend/assets/img/logo_text.png" class="" /> #}
                      <center>
                      <h1 class="h4 font-w600" style="    clear: right;
                        margin-top: 11px;">Universitas Pasundan - FISIP <br> Prodi Ilmu Komunikasi </h1>
                        </center>
                      <hr>
                      <!-- END Login Title -->

                      <!-- Login Form -->
                      <!-- jQuery Validation (.js-validation-login class is initialized in js/pages/base_pages_login.js) -->
                      <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                      {# <br> #}
                      <form action="/auth/login" method="post" class="form-login js-validation-login form-horizontal push-30-t push-50" >
                          <div class="form-group">
                              <div class="col-xs-12">
                                  <div class="form-material form-material-primary">
                                      <input class="form-control" type="email" id="login-email" name="email" required>
                                      <label for="login-nim">Email</label>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-xs-12">
                                  <div class="form-material form-material-primary">
                                      <input class="form-control" type="password" id="login-password" name="password" required>
                                      <label for="login-password">Password</label>
                                  </div>
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-xs-12 col-sm-6 col-md-4">
                                  <button class="btn btn-block btn-primary"><i class="si si-login pull-right"></i> Masuk</button>
                              </div>
                          </div>
                      </form>
                      <!-- END Login Form -->
                  </div>
              </div>
              <!-- END Login Block -->
          </div>
      </div>
  </div>
  <!-- END Login Content -->

  <!-- Login Footer -->
  <div class="push-10-t text-center animated fadeInUp text-white">
      <small class="text-white font-w600"><span class="">2018</span> &copy; Generic-x</small>
  </div>
  <!-- END Login Footer -->

  <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
  <script src="{{ base_url() }}/assets/oneui/js/core/jquery.min.js"></script>
  <script src="{{ base_url() }}/assets/oneui/js/core/bootstrap.min.js"></script>
  <script src="{{ base_url() }}/assets/oneui/js/core/jquery.slimscroll.min.js"></script>
  <script src="{{ base_url() }}/assets/oneui/js/core/jquery.scrollLock.min.js"></script>
  <script src="{{ base_url() }}/assets/oneui/js/core/jquery.appear.min.js"></script>
  <script src="{{ base_url() }}/assets/oneui/js/core/jquery.countTo.min.js"></script>
  <script src="{{ base_url() }}/assets/oneui/js/core/jquery.placeholder.min.js"></script>
  <script src="{{ base_url() }}/assets/oneui/js/core/js.cookie.min.js"></script>
  <script src="{{ base_url() }}/assets/oneui/js/app.js"></script>

  <!-- Page JS Plugins -->
  <script src="{{ base_url() }}/assets/oneui/js/plugins/jquery-validation/jquery.validate.min.js"></script>

  <!-- Page JS Code -->
 <script src="{{ base_url() }}/bower_components/sweetalert2/dist/sweetalert2.js"></script>
  <script src="{{ base_url() }}/assets/oneui/js/pages/adm_login.js"></script>
</body>
</html>
